.navbar{
    background-color: chartreuse;
    overflow: hidden;
    }
    .navitem{
    float: left;
    list-style: none;
    }
    .navlink{
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 10px 10px;
        }
        li a:hover {
        background-color: darksalmon;
        }
        
    figure{text-align: center;}
    main{width: 70%; float: left; background-color:darksalmon; padding: 10px;}
    aside{width: 26%; float: right; background-color: turquoise;}

    footer{text-decoration: none;
        display: block;
        text-align: left;
        padding: 10px 10px;
        }
    